.search input[type="text"],
.search button {
  height: 35px;
}


/* same rule as for sidebar */
@media (max-width: 990px) {
  .page-queries-list .page-header-actions {
    width: auto;
  }
}

/* Align Query list sidebar with Tag Sidebar look */
.page-queries-list .layout-with-sidebar > .layout-sidebar {
  flex: 0 0 260px;
  width: 300px;
  max-width: 260px;
}
.page-queries-list .layout-with-sidebar > .layout-sidebar > div {
  /*background: #E6DED1;  match RelatedByTagSidebar */
  padding: 8px 6px;
  border-radius: 0;
}
/* Allow content to naturally fill remaining space */
.page-queries-list .layout-with-sidebar > .layout-content {
  width: auto;
}
